<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Librería Entre Hojas</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    <link href="css/templatemo-style.css" rel="stylesheet" />
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body>

    <div class="container">
        <!-- Top box -->
        <!-- Logo & Site Name -->
        <div class="placeholder">
            <div class="parallax-window" data-parallax="scroll" data-image-src="img/libreria.jpg">
                <div class="tm-header">
                    <div class="row tm-header-inner">
                        <div class="col-md-6 col-12">
                            <img src="~/img/Logo Libreria.png" alt="Logo" width="90" height="90" class="tm-site-logo" />
                            <div class="tm-site-text-box">
                                <h1 class="tm-site-title">Librería Entre Hojas</h1>
                                <h6 class="tm-site-description">  &nbsp;</h6>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <main>
            <header class="row tm-welcome-section">
                <h2 class="col-12 text-center tm-section-title"><b><font face=”Arial” >Bienvenidos a Entre Hojas</font></b></h2>
                <p class="col-12 text-center">Hay quienes no pueden imaginar un mundo sin pájaros; hay quienes no pueden imaginar un mundo sin agua; en lo que a mí se refiere, soy incapaz de imaginar un mundo sin libros </p>
                <p class="col-12 text-center">-Jorge Luis Borges</p>
            </header>
            @RenderBody()
            
            &nbsp;
            &nbsp;

            <div class="tm-section tm-container-inner">
                <div class="row">
                    <div class="col-md-6">
                        <figure class="tm-description-figure">
                            &nbsp;
                          
                            <img src="img/afueralibreria.jpg" alt="Image" class="img-fluid" />
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <div class="tm-description-box">
                            &nbsp;
                            <h4 class="tm-gallery-title">Ven y Visitanos:</h4>
                            <p class="tm-mb-20"><p class="underline-secondary"><b>Direccion:</b></p>
                            <p>3 Calle, 4 Aven, San Pedro Sula, Cortés. </p>
                            <p class="underline-secondary mb-10"><b>Telefono:</b></p>
                            <a href="tel:+53 345 7953 32453 ">+504 2049 8520 </a>
                            <p class="underline-secondary mb-10"><b>Correo Electronico:</b></p>
                            <a href="mailto:libreriaentrehojas.com"> libreriaentrehojas@gmail.com</a>
                            </div>
                    </div>
                </div>
            </div>


         
        </main>

        <footer class="tm-footer text-center">
            <p>
                Copyright &copy; 2022 Entre Hojas

                | Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a>
            </p>
        </footer>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/parallax.min.js"></script>
    <script>
		$(document).ready(function(){
			// Handle click on paging links
			$('.tm-paging-link').click(function(e){
				e.preventDefault();

				var page = $(this).text().toLowerCase();
				$('.tm-gallery-page').addClass('hidden');
				$('#tm-gallery-page-' + page).removeClass('hidden');
				$('.tm-paging-link').removeClass('active');
				$(this).addClass("active");
			});
		});
    </script>
</body>
</html>