
@{
    ViewBag.Title = "Index";
}

<h2>Bienvenidos a Entre Hojas - Sitio de Administración</h2>
    <h2>«Hay quienes no pueden imaginar un mundo sin pájaros; hay quienes no pueden imaginar un mundo sin agua; en lo que a mí se refiere, soy incapaz de imaginar un mundo sin libros»

        <strong>Jorge Luis Borges</strong></h2>

<div>
    <img src="~/Imagenes/entre.jpg" alt="EntreHojas" style="width: 100%; max-width: 500px;" />
</div>