
@{
    ViewBag.Title = "Index";
}
<div
     class="col-12 text-center"><h3><b><font face=”Arial” size=8>Bienvenidos a Entre Hojas</font> </b>  </h3></div> 

     
   <div
       class="col-12 text-center">
       &nbsp;
       <h3>
           &nbsp;
           <b>
               Hay quienes no pueden imaginar un mundo sin pájaros; hay quienes no pueden imaginar un mundo sin agua; en lo que a mí se refiere, soy incapaz de imaginar un mundo sin libros.
             
           </b>

       </h3>
    
      <h3>
          <b>
              <strong> - Jorge Luis Borges</strong>
          </b>

       </h3>

   </div>

     &nbsp;

<div
    class="col-12 text-center">
   <h3>
    <img src="~/Imagenes/Logo Libreria.png" alt="EntreHojas" style="width: 80%; max-width: 350px;" />
    </h3>
</div>